body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.photo {
    border: 2px solid #cccccc;
    padding: 10px;
    background-color: #fff;
    overflow: hidden; /* Ensure the image doesn't overflow the container */
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire container */
    display: block;
}

/* video background */
#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

/* page content */
body {
    font-family: Trebuchet MS;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: rgb(250, 248, 248);
    font-weight: bold;
    text-align: center;
}

h1 {
    font-size: 6rem;
    margin-top: 30vh; 
}

h2 { font-size: 3rem; }

@media (max-width: 750px) {
    #background-video { display: none; }
    body {
        background: url("../images/Jewett.png") no-repeat;
        background-size: cover;
    }
}

main {
    background-color: rgb(236, 174, 58);
    font-size: 2rem;
    margin-top: 50vh;
    padding: 10px;
    position: relative;
}

.container {
    padding: 20px;
}

.section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.section.reverse {
    flex-direction: row-reverse;
}

.text {
    flex: 1;
    padding: 20px;
}

.photo {
    flex: 1;
    padding: 20px;
    overflow: hidden; /* Ensure the image doesn't overflow the container */
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire container */
    display: block;
    border: 2px solid #ccc;
    background-color: #fff;
}

.centered-text {
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
    margin-bottom: 120px;
}

/* floating button */
.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ff5722;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 1.2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
}

.floating-button:hover {
    background-color: #e64a19;
}
