body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  margin: 0;
  background-image: url('../images/header-yellow.png');
  background-size: cover;
  background-repeat: no-repeat;
}


.video {
  margin: 0;
  width: 100%;
  max-width: 800px;
  height: 0;
  padding-top: 56.25%; /* 16:9 aspect ratio */
  background-color: #f0f0f0;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.video:hover {
  transform: scale(1.01);
  box-shadow: 0 16px 30px rgba(0, 0, 0, 0.2);
}

.video iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  border-radius: 16px;
}




.footer {
  position: fixed;
  bottom: 20px; /* Distancia desde la parte inferior */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffe787; /* Color de fondo */
  color: rgb(9, 9, 9);
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #ce940d; /* Color de fondo cuando pasa el cursor */
}

.marquee span {
  display: inline-block;
  animation: marquee 5s linear infinite;
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}




