body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  margin: 0;
  background-image: url('../images/header-yellow.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.video-container {
  max-width: 90%;
  width: 300px;
  margin: 20px auto;
  padding: 10px;
  border-radius: 5px;
  background: #f8f9fa;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.video-container:hover {
  transform: scale(5);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.video-container iframe {
  width:400%;
  height: 340px;
  border-radius: 8px;
  border: none;
}



.footer {
  position: fixed;
  bottom: 20px; /* Distancia desde la parte inferior */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffe787; /* Color de fondo */
  color: rgb(9, 9, 9);
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #ce940d; /* Color de fondo cuando pasa el cursor */
}

.marquee span {
  display: inline-block;
  animation: marquee 5s linear infinite;
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}




